body.app{
  background: url("/src/images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  overflow: hidden;
}

.container-fluid{
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.overlay h1 {
  position: absolute;
  z-index: 2;
  display: block;
}
/*.countryList-visible {
  width: 100%;
  height: 690px;
  margin: 0;
}*/

.side-view-left img {
  width: 12%;
  height: auto;
}

.list{
  list-style-type: none;
  height: 100%;
  padding: 0;
  overflow: scroll;
}

.side-view-left{
  display: block;
  position: absolute;
  top: 51px;
  height: 680px;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 10px;
  padding: 18px;
  z-index: 1;
  overflow: scroll;
}
li.list-country-item {
  padding: 8px;
}

li.list-country-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

li.list-country-item:visited {
  background-color: rgba(0, 0, 255, 0.3);
}

.globeTitle {
  display: inline-block;
}
.globe{
  text-align: center;
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  z-index: 0;
}
path.sphere {
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}

path.land:hover{
  stroke: white;
  stroke-width: 2;
  fill: red;
}

.focused {
  fill: orange;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.countryBox {
  background-color: #ddd
}

.issues {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);;
  border-radius: 5px;
  width: 216px;
  height: 150px;
  padding: 10px 0;
}
.issues ul{
  margin: 0;
  padding: 0;
}
.category{
  list-style: none;
  padding: 8px 0 8px 30px;
  color: #C1B398;
}

li.category:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.countryData{
  position: absolute;
  z-index: 1;
  top: 52px;
  right: 0;
  background: rgba(255, 255, 255, 0.1);;
  padding: 10px;
}

.countryTitle {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  color: whitesmoke;
}

 /*TWEETS*/

.tweet-feed-visible{
  position: absolute;
  z-index: 2;
  right: 0;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  top: 52px;
  width: 50%;
  height: 400px;
  padding: 5px;
  overflow: scroll;
}

.tweet-feed-visible img{
  width: 6%;
  height: auto;
}

.tweet-feed{
  position: absolute;
  z-index: 2;
  right: 0;
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  top: 126px;
  width: auto;
  height: auto;
  padding: 5px;
}

.tweet-feed img{
  width: 100%;
  height: auto;
}

.tweet-feed h1{
  width: 50px;
  height: 50px;
}

.tweets {
  border-top: 1px solid black;
}

.tweet-date {
  font-size: 12px;
}

.tweet-item {
  font-size: 14px;
  color: white;
  /*padding: 8px 5px;*/
}


/*NEWS FEED*/

.newsfeed-feed-visible{
  position: absolute;
  z-index: 2;
  top: 52px;
  right: 0;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  width: 50%;
  height: 400px;
  padding: 5px;
  z-index: 4;
  overflow: scroll;
}

.newsfeed-feed-visible img{
  width: 6%;
  height: auto;
}

.newsfeed-feed {
  position: absolute;
  z-index: 2;
  top: 52px;
  right: 0;
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 5px;
  overflow: scroll;
}

.newsfeed-feed img{
  width: 100%;
  height: auto;
}
.newsfeed-feed h1{
  width: 50px;
  height: 50px;
}

.newsfeed {
  border-top: 1px solid black;
}

.newsfeed-date {
  font-size: 12px;
}

.newsfeed-item {
  font-size: 14px;
  color: white;
  /*padding: 8px 5px;*/
}

/*GRAPHS*/

.graphs {
  position: absolute;
  z-index: 3;
  top: 200px;
  right: 0;
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 5px;
}

.graphs-visible {
  position: absolute;
  z-index: 3;
  top: 52px;
  right: 0;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  width: 50%;
  height: 400px;
  padding: 5px;
  z-index: 4;
  overflow: scroll;
}

.graphs-visible img{
  width: 6%;
  height: auto;
}

.graphs img{
  width: 100%;
  height: auto;
}

.graphs h1{
  width: 50px;
  height: 50px;
}

.span {
  padding: 8px 5px;
}


/********************
    bar styling http://danielstern.ca/range.css/#/
*********************/
.barSlider {
  text-align: center;
  position: absolute;;
  z-index: 1;
  /* left: 200px; */
  width: 680px;
  margin: 0 auto;
  bottom: 0;
  left: 30%;
  background: rgba(0,0,0,0.1);
  padding: 5px 21px;
  border-radius: 5px;
}

.barSlider span{
  font-size: 22px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15.6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #383a3a;
  border-radius: 3px;
  border: 0.4px solid #204b23;
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  border: 1.5px solid #000000;
  height: 22px;
  width: 22px;
  border-radius: 36px;
  background: lightgrey;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #383a3a;
}
/*input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(41, 68, 117, 0.65);
  border-radius: 4.5px;
  border: 0.4px solid #204b23;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.4px solid #000000;
  height: 39px;
  width: 18px;
  border-radius: 36px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.65);
  border: 0.4px solid #204b23;
  border-radius: 9px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(41, 68, 117, 0.65);
  border: 0.4px solid #204b23;
  border-radius: 9px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.4px solid #000000;
  height: 39px;
  width: 18px;
  border-radius: 36px;
  background: #ffffff;
  cursor: pointer;
  height: 7.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(41, 68, 117, 0.65);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(111, 145, 205, 0.65);
}*/





.form {
  height: 200px;
  margin: 0 auto;
  padding-top: 100px;
  width: 60%;
}

.formField {
  margin-bottom: 5rem;
}

.check {
  color: 'blue';
}

/* MENU CSS */
/*
.menu {
  display: block;
}
.menu >div {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  height: 100%;
}
.menu >div.left {
  background: #273D7A;
  left: -250px;
}
.menu >div.right {
  background: #6B1919;
  right: -250px;
}
.menu >div .menu-item {
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border-bottom: solid 1px #555;
  cursor: pointer;
  color: #B0B0B0;
}
.menu >div .menu-item:hover {
  color: #F0F0F0;
}*/
