.container-fluid{
  margin: 0;

}
.countryList {
  width: 100%;
  /* position: relative; */
  height: 690px;
  margin: 51px 0 0;
}

.list{
  list-style-type: none;
  height: 100%;
  padding: 0;
  /* position: relative; */
  overflow: scroll;
}

li.list-country-item {
  padding: 8px;
}

li.list-country-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

li.list-country-item:visited {
  background-color: rgba(0, 0, 255, 0.3);
}

.globeTitle {
  display: inline-block;
}
.globe{
  text-align: center;
}

.countryBox {
  background-color: #ddd
}

.tweets {
  border-top: 1px solid black;
}

.tweet-date {
  font-size: 12px;
}

.tweet-item {
  font-size: 14px;
  /*padding: 8px 5px;*/
}

.tweet-feed {
  width: 100%;
  height: 690px;
  overflow: scroll;
}

.span {
  padding: 8px 5px;
}

.newsfeed {
  border-top: 1px solid black;
}

.newsfeed-date {
  font-size: 12px;
}

.newsfeed-item {
  font-size: 14px;
  /*padding: 8px 5px;*/
}

.newsfeed-feed {
  width: 100%;
  height: 690px;
  overflow: scroll;
}
/* MENU CSS */
/*
.menu {
  display: block;
}
.menu >div {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  height: 100%;
}
.menu >div.left {
  background: #273D7A;
  left: -250px;
}
.menu >div.right {
  background: #6B1919;
  right: -250px;
}
.menu >div .menu-item {
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border-bottom: solid 1px #555;
  cursor: pointer;
  color: #B0B0B0;
}
.menu >div .menu-item:hover {
  color: #F0F0F0;
}*/
